---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import officeImage from "@assets/office.jpg";
import nightOfficeImage from "@assets/office-night.jpg";
import genericImage from "@assets/backgrounds/4.webp";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Προφίλ">
  <Container class={"max-w-screen-lg"}>
    <Sectionhead>
      <Fragment slot="title">Προφίλ</Fragment>
      <Fragment slot="desc">Σχετικά με εμάς</Fragment>
    </Sectionhead>

    <div class="mt-20 flex flex-col items-center gap-8 md:gap-20">
      <div class="flex flex-col items-center gap-8 md:flex-row md:gap-40">
        <div class="flex w-full flex-col gap-4">
          <Picture
            class="h-[400px] w-full object-cover md:w-[300px]"
            src={officeImage}
            alt="Office"
          />
          <p>
            Το μηχανολογικό γραφείο συστήθηκε το 2024 στο Καρλόβασι της Σάμου
            από τον μηχανολόγο μηχανικό Δημήτριο Πολίτη.
          </p>
        </div>
        <div class="flex w-full flex-col gap-4">
          <p>
            Το γραφείο μας παρέχει εξειδικευμένες υπηρεσίες στον σχεδιασμό , τη
            μελέτη , την αδειοδότηση και την επίβλεψη τεχνικών έργων.
          </p>
          <Picture
            class="h-[400px] w-full object-cover md:w-[300px]"
            src={genericImage}
            alt="night office"
          />
        </div>
      </div>

      <Picture
        class="h-[600px] w-full object-cover md:w-[600px]"
        src={nightOfficeImage}
        alt="generic image"
      />
    </div>
  </Container>
</Layout>
