---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Map from "@components/map.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Picture from "astro/components/Picture.astro";
import image from "@assets/backgrounds/5.webp";
---

<Layout title="Επικοινωνία">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Επικοινωνήστε μαζί μας</Fragment>
      <Fragment slot="desc">Είμαστε εδώ για σας βοηθήσουμε.</Fragment>
    </Sectionhead>

    <div class="mx-auto mt-16 grid max-w-4xl gap-10 md:grid-cols-2">
      <div class="flex w-full flex-col gap-6">
        <h2 class="text-2xl font-medium text-gray-800">
          Επικοινωνήστε μαζί μας
        </h2>
        <p class="mt-3 text-lg leading-relaxed text-slate-500">
          Έχετε κάτι να πείτε; Είμαστε εδώ για να βοηθήσουμε. Συμπληρώστε τη
          φόρμα ή στείλτε email ή καλέστε μας.
        </p>
        <div class="">
          <div class="mt-2 flex items-center space-x-2 text-gray-600">
            <Icon class="h-4 w-4 text-gray-400" name="uil:map-marker" />
            <span>Γοργύρας, Neo Karlovasi 832 00, Greece</span>
          </div><div class="mt-2 flex items-center space-x-2 text-gray-600">
            <Icon class="h-4 w-4 text-gray-400" name="uil:envelope" /><a
              href="mailto:dimitris-politis@hotmail.com"
              >dimitris-politis@hotmail.com</a
            >
          </div>
          <div class="mt-2 flex items-center space-x-2 text-gray-600">
            <Icon class="h-4 w-4 text-gray-400" name="uil:phone" /><a
              href="tel:+30 22730 79999">+30 22730 79999</a
            >
          </div>
          <div class="mt-2 flex items-center space-x-2 text-gray-600">
            <Icon class="h-4 w-4 text-gray-400" name="uil:mobile-android" /><a
              href="tel:+30 698 632 8718">+30 698 632 8718</a
            >
          </div>
        </div>
        <div class="w-full overflow-hidden">
          <Map />
        </div>
      </div>
      <div class="flex flex-col gap-8">
        <Contactform />
        <Picture src={image} alt="image" />
      </div>
    </div>
  </Container>
</Layout>
