---
import { Picture } from "astro:assets";
import officeImage from "assets/office.jpg";
import polKarta from "assets/pol-karta.jpg";
import officeNightImage from "assets/office-night.jpg";
---

<div
  class="w-full flex-col md:flex-row flex items-center md:justify-between gap-4 h-fit py-20 md:px-40">
  <div class="w-1/2">
    <Picture
      src={officeImage}
      alt={"office image"}
      sizes="(max-width: 800px) 100vw, 400px"
      width={800}
      height={800}
      class="w-full rounded transition"
    />
  </div>
  <div class="flex-col flex p-1 gap-4 flex-1 overflow-clip w-full">
    <div class="w-full">
      <Picture
        src={polKarta}
        alt={"Business card"}
        sizes="(max-width: 800px) 100vw, 400px"
        width={800}
        height={800}
        class="w-full rounded"
      />
    </div>
    <div class="flex items-center justify-center">
      <Picture
        src={officeNightImage}
        alt={"Office night image"}
        sizes="(max-width: 800px) 100vw, 400px"
        width={800}
        height={800}
        class="w-full rounded transition object-fill"
      />
    </div>
  </div>
</div>
