---
import { Picture } from "astro:assets";
import officeImage from "assets/office.jpg";
import polKarta from "assets/pol-karta.jpg";
import officeNightImage from "assets/office-night.jpg";
---

<div
  class="flex h-fit w-full flex-col items-center gap-8 py-20 md:flex-row md:justify-between md:px-40">
  <div class="w-full md:w-1/2">
    <Picture
      src={officeImage}
      alt={"office image"}
      sizes="(max-width: 800px) 100vw, 400px"
      width={800}
      height={800}
      class="w-full rounded transition"
    />
  </div>
  <div class="flex w-full flex-1 flex-col gap-8 overflow-clip">
    <div class="w-full">
      <Picture
        src={polKarta}
        alt={"Business card"}
        sizes="(max-width: 800px) 100vw, 400px"
        width={800}
        height={800}
        class="w-full rounded"
      />
    </div>
    <div class="flex items-center justify-center">
      <Picture
        src={officeNightImage}
        alt={"Office night image"}
        sizes="(max-width: 800px) 100vw, 400px"
        width={800}
        height={800}
        class="w-full rounded object-fill transition"
      />
    </div>
  </div>
</div>
