---
import backgroundImage from "assets/backgrounds/1.webp";
import Link from "./ui/link.astro";
---

<div
  class="mx-auto mt-20 flex flex-col items-center overflow-hidden rounded bg-cover bg-local bg-center bg-no-repeat text-center md:rounded-none md:bg-fixed"
  style=`background-image:url('${backgroundImage.src}');`>
  <div
    class="flex h-full w-full flex-col items-center bg-black/70 p-8 md:px-20 md:py-20 xl:py-40">
    <h2 class="text-4xl tracking-tight text-white md:text-6xl">
      Εξειδικευμένες Μηχανολογικές Υπηρεσίες
    </h2>
    <p class="mt-4 text-lg text-gray-300 md:text-xl">
      Επικοινωνήστε μαζί μας για μελέτες, άδειες και πιστοποιήσεις.
    </p>
    <div class="mt-5 flex">
      <Link href="/contact" style="inverted">Στείλτε μας μήνυμα</Link>
    </div>
    <div class="mt-5 flex">
      <Link href="tel:+30 22730 79999" style="inverted"
        >Τηλ: +30 22730 79999</Link
      >
    </div>
  </div>
</div>
