---
// @ts-ignore
import { Icon } from "astro-icon/components";
const features = [
  {
    title: "Μηχανολογικές Μελέτες",
    description:
      "Σχεδιασμός και εκπόνηση μηχανολογικών μελετών για διάφορα έργα.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Πιστοποιητικά Ενεργειακής Απόδοσης",
    description:
      "Έκδοση πιστοποιητικών ενεργειακής απόδοσης για κτίρια και εγκαταστάσεις.",
    icon: "bx:bxs-certification",
  },
  {
    title: "Άδειες Λειτουργίας",
    description:
      "Διεκπεραίωση διαδικασιών για την έκδοση αδειών λειτουργίας επιχειρήσεων.",
    icon: "bx:bxs-file",
  },
  {
    title: "Ηλεκτρονικές Ταυτότητες Κτηρίων",
    description: "Καταγραφή και έκδοση ηλεκτρονικών ταυτοτήτων κτηρίων.",
    icon: "bx:bxs-building",
  },
  {
    title: "Ενεργειακές Επιθεωρήσεις",
    description:
      "Διενέργεια ενεργειακών επιθεωρήσεων για κατοικίες και επαγγελματικούς χώρους.",
    icon: "bx:bxs-analyse",
  },
  {
    title: "Τεχνικές Συμβουλευτικές Υπηρεσίες",
    description:
      "Παροχή συμβουλευτικών υπηρεσιών σε τεχνικά και κατασκευαστικά έργα.",
    icon: "bx:bxs-conversation",
  },
];
---

<div class="mt-16 md:mt-0" id={"features"}>
  <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
    Όλα όσα χρειάζεστε για τις υπηρεσίες μηχανολόγου μηχανικού
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Παρέχουμε ολοκληρωμένες λύσεις μηχανολογίας, συνδυάζοντας τις καλύτερες
    τεχνολογίες και καινοτομίες για την επίτευξη των στόχων σας.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
