---
// @ts-ignore
import { Icon } from "astro-icon/components";
const features = [
  {
    title: "Εξειδικευμένες Υπηρεσίες Μηχανολογίας",
    description:
      "Παρέχουμε εξειδικευμένες υπηρεσίες σε θέματα μηχανολογίας, συμπεριλαμβανομένων των σχεδίων, κατασκευών και εγκαταστάσεων μηχανημάτων.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Σχεδιασμός και Ανάλυση Μηχανικών Συστημάτων",
    description:
      "Εξειδικευόμαστε στον σχεδιασμό και την ανάλυση μηχανικών συστημάτων για τη βελτιστοποίηση της απόδοσης και της αξιοπιστίας.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Συντήρηση και Επισκευή Μηχανημάτων",
    description:
      "Προσφέρουμε πλήρεις υπηρεσίες συντήρησης και επισκευής για βιομηχανικά και εμπορικά μηχανήματα.",
    icon: "bx:bxs-data",
  },
  {
    title: "Εφαρμογές Αυτοματισμού",
    description:
      "Εφαρμόζουμε σύγχρονες τεχνολογίες αυτοματισμού για τη βελτίωση της παραγωγικότητας και της αποτελεσματικότητας.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Ενεργειακή Απόδοση και Βιωσιμότητα",
    description:
      "Αναλύουμε και βελτιστοποιούμε την ενεργειακή απόδοση των μηχανικών συστημάτων για μια βιώσιμη μέλλον.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Κοινότητα και Συνεργασίες",
    description:
      "Είμαστε μέρος μιας ευρείας κοινότητας μηχανολόγων μηχανικών και συνεργαζόμαστε με εταιρείες και οργανισμούς για την προώθηση της τεχνολογικής προόδου.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0" id={"features"}>
  <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
    Όλα όσα χρειάζεστε για τις υπηρεσίες μηχανολόγου μηχανικού
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Παρέχουμε ολοκληρωμένες λύσεις μηχανολογίας, συνδυάζοντας τις καλύτερες
    τεχνολογίες και καινοτομίες για την επίτευξη των στόχων σας.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
