---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import backgroundImage from "assets/index-background.jpg";
---

<main
  class="grid lg:grid-cols-2 place-items-center px-4 pt-16 h-[80vh] pb-12 mb-8 md:pt-12 md:pb-36 bg-local bg-cover md:bg-fixed bg-center bg-no-repeat"
  style=`background-image:url('${backgroundImage.src}');`>
  <div>
    <div class="bg-gray-50/90 p-4 rounded-md">
      <h1
        class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
        Δημήτρης Πολίτης<br /> Μηχανολόγος Μηχανικός
      </h1>
      <p class="text-lg mt-4 text-slate-600 max-w-xl">
        Καλώς ήρθατε! Με πολυετή εμπειρία στον τομέα της μηχανολογίας,
        προσφέρουμε εξειδικευμένες υπηρεσίες με έμφαση στην καινοτομία, την
        ποιότητα και την αξιοπιστία.
      </p>
    </div>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#features"
        class="flex gap-1 items-center justify-center scroll-smooth">
        <Icon class="text-white w-5 h-5" name="bx:bxs-book-open" />
        Υπηρεσίες
      </Link>
    </div>
  </div>
</main>
