---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import backgroundImage from "assets/index-background.jpg";
---

<main
  class="mb-8 grid h-[80%] place-items-center overflow-hidden rounded bg-cover bg-center bg-no-repeat px-4 pb-12 pt-16 md:h-[80vh] md:rounded-none md:bg-fixed md:pb-36 md:pt-12 lg:grid-cols-2"
  style=`background-image:url('${backgroundImage.src}');`>
  <div>
    <div class="rounded-md bg-gray-50/90 p-4">
      <h1
        class="text-3xl font-bold lg:text-4xl lg:tracking-tight xl:text-5xl xl:tracking-tighter">
        Δημήτριος Πολίτης<br /> Μηχανολόγος Μηχανικός
      </h1>
      <p class="mt-4 max-w-xl text-lg text-slate-600">
        Καλώς ήρθατε! Εξειδικευμένες υπηρεσίες με έμφαση στην καινοτομία, την
        ποιότητα και την αξιοπιστία.
      </p>
    </div>
    <div class="mt-6 flex flex-col gap-3 sm:flex-row">
      <Link
        href="#features"
        class="flex items-center justify-center gap-1 scroll-smooth">
        <Icon class="h-5 w-5 text-white" name="bx:bxs-book-open" />
        Υπηρεσίες
      </Link>
    </div>
  </div>
</main>
